@import "~bootstrap/scss/bootstrap";

body{
  margin-top:1rem ;
}


td button {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;

}

.X{
  background-image: url("/files/X.png");
}

.O{
  background-image: url("/files/O.png");
}